@-webkit-keyframes demonstration {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes demonstration {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.preview {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 1px 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-animation: demonstration 2s;
          animation: demonstration 2s;
}

.preview:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__left {
  width: 42%;
  min-height: 100vh;
  background-color: #1e2124;
  position: relative;
}

.main__right {
  width: 58%;
  min-height: 100vh;
  background-color: #f7b61e;
}

.one_width {
  width: 150px;
}

.two_width {
  width: 300px;
}

.text_block {
  padding: 10px 10px 10px 0;
}

.text_block h3 {
  text-transform: uppercase;
  color: #ccc;
}

.text_block p {
  font-size: 12px;
  color: #ccc;
}

.main__left_one .block_icon {
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #f7b61e;
  color: #fff;
  text-align: center;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.left_block {
  width: 100%;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.right_block {
  width: 100%;
  margin: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__right_one {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__right_two {
  width: 450px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 100px;
}

.modal__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1e2124;
  opacity: 0.8;
  z-index: 10;
}

.modal__window {
  position: absolute;
  width: 80%;
  height: 78%;
  margin: 100px auto;
  background-color: #000;
  opacity: 1;
  z-index: 11;
}

.modal__block {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 1;
}

.modal__image {
  width: 99%;
  height: 99%;
  margin: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: demonstration 2s;
          animation: demonstration 2s;
}

.modal .btn--close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  outline: inherit;
  z-index: 12;
  font-size: 20px;
  color: #f7b61e;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal .btn--close:hover {
  background-color: #f7b61e;
  color: #000;
}

.modal .btn--close:active {
  color: #fff;
}

.modal .btn--left {
  position: absolute;
  top: 45%;
  left: -75px;
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  outline: inherit;
  z-index: 12;
  font-size: 30px;
  color: #f7b61e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.modal .btn--left:hover {
  background-color: #f7b61e;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal .btn--left:active {
  color: #fff;
}

.modal .btn--right {
  position: absolute;
  top: 45%;
  right: -75px;
  width: 70px;
  height: 70px;
  background-color: #000;
  border-radius: 50%;
  border: none;
  outline: inherit;
  z-index: 12;
  font-size: 30px;
  color: #f7b61e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.modal .btn--right:hover {
  background-color: #f7b61e;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.modal .btn--right:active {
  color: #fff;
}

.wait {
  width: 500px;
  background-color: inherit;
  color: #fff;
  font-size: 40px;
  -webkit-animation: demonstration 1s;
          animation: demonstration 1s;
}
