// стили для мобильной верстки
@media screen and (max-width: 420px) {
    .preview {
        width: 149px!important;
        height: 149px!important;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 1px 1px 0;
        box-sizing: border-box;
        transition: 0.5s;
        cursor: pointer;
        animation: demonstration 2s;
        z-index: 10;
    }
    .main {
        width: 160%;
        margin: 0 auto;
        display: flex;
        &__left {
            width: 50%;
            min-height: 100vh;
            background-color: $black;
            position: relative;
        }
        &__right {
            width: 58%;
            min-height: 100vh;
            background-color: $yellow;
        }
        &__left_two {
            min-height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .text_block {
        width: $one_width;
        margin: 10px auto;
        & h3 {
            text-transform: uppercase;
            color: $color_text;
            text-shadow: 2px 2px 3px $black;
        }
        & p {
            padding: 0 10px 0 0;
            font-size: 18px;
            color: $color_text;
            text-shadow: 2px 2px 3px $black;
        }
    }
    .left_block {
        width: 50%;
        margin: 100px 0 0 108%;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
    }
    .right_block {
        width: 50%;
        margin: 400px 0 0 2%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        box-sizing: border-box;
    }
    .main__right_one {
        width: 300px!important;
        height: 750px!important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .main__right_two {
        // width: $two_width+150px;
        width: $two_width;
        height: $two_height;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .modal {
        &__shadow {
            position: fixed;
            top: 0;
            left: 0;
            // width: 100vw;
            // height: 100vh;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.8;
            z-index: 10;
        }
        &__window {
            position: absolute;
            top: 0;
            left: 0;
            width: 170%;
            // height: 78%;
            height: 100%;
            margin: 70px auto;
            background-color: #000;
            opacity: 1;
            z-index: 11;
        }
        &__block {
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 1;
        }
        &__image {
            width: 99%;
            height: 99%;
            margin: 6px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            animation: demonstration 2s;
        }
        .btn--close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 70px;
            height: 70px;
            background-color: #000;
            border-radius: 50%;
            border: 1px solid $yellow;
            outline: inherit;
            z-index: 12;
            font-size: 40px;
            color: $yellow;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color: $yellow;
                color: #000;
            }
            &:active {
                color: #fff;
            }
        }
        .btn--left {
            position: absolute;
            top: 85%;
            left: 10px;
            width: 70px;
            height: 70px;
            background-color: #000;
            border-radius: 50%;
            border: 1px solid $yellow;
            outline: inherit;
            z-index: 12;
            font-size: 40px;
            color: $yellow;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                background-color: $yellow;
                color: #000;
                transition: 0.5s;
            }
            &:active {
                color: #fff;
            }
        }
        .btn--right {
            position: absolute;
            top: 85%;
            right: 10px;
            width: 70px;
            height: 70px;
            background-color: #000;
            border-radius: 50%;
            border: 1px solid $yellow;
            outline: inherit;
            z-index: 12;
            font-size: 40px;
            color: $yellow;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                background-color: $yellow;
                color: #000;
                transition: 0.5s;
            }
            &:active {
                color: #fff;
            }
        }
    }
}