@import './variables';
@import './animation';
body {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.preview {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 1px 1px 0;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    animation: demonstration 2s;
    z-index: 10;
}

.preview:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    &__left {
        width: 42%;
        min-height: 100vh;
        background-color: $black;
        position: relative;
    }
    &__right {
        width: 58%;
        min-height: 100vh;
        background-color: $yellow;
    }
    &__left_two {
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.one_width {
    width: $one_width;
}

.two_width {
    width: $two_width;
}

.text_block {
    width: $one_width;
    margin: 10px auto;
    & h3 {
        text-transform: uppercase;
        color: $color_text;
    }
    & p {
        padding: 0 10px 0 0;
        font-size: 12px;
        color: $color_text;
    }
}

.links-block {
    margin: 20px 0 140px 0;
    display: flex;
    justify-content: center;
}

.link {
    width: 10px;
    height: 14px;
    background-color: inherit;
    outline: none;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.active-link {
    background-color: #fff;
    transition: 0.5s;
}

.main__left_one {
    .block_icon {
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: $yellow;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        transition: 0.5s;
    }
    .block_icon span {
        display: block;
        width: 50%;
        height: 50%;
        font-size: 30px;
        margin: -4px 0 20px 0;
    }
    .block_icon:hover {
        color: $black;
        transition: 0.5s;
    }
    .block_icon:active {
        box-shadow: 0 0 15px #fff;
        transition: 0.25s;
    }
}

.left_block {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.right_block {
    width: 100%;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.main__right_one {
    width: $two_width;
    height: $two_height;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main__right_two {
    width: $two_width+150px;
    height: $two_height;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal {
    &__shadow {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $black;
        opacity: 0.8;
        z-index: 10;
    }
    &__window {
        position: absolute;
        width: 80%;
        // height: 78%;
        height: 85%;
        margin: 70px auto;
        background-color: #000;
        opacity: 1;
        z-index: 11;
    }
    &__block {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 1;
    }
    &__image {
        width: 99%;
        height: 99%;
        margin: 6px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: demonstration 2s;
    }
    .btn--close {
        position: absolute;
        top: -40px;
        right: -40px;
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 50%;
        border: none;
        outline: inherit;
        z-index: 12;
        font-size: 20px;
        color: $yellow;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            background-color: $yellow;
            color: #000;
        }
        &:active {
            color: #fff;
        }
    }
    .btn--left {
        position: absolute;
        top: 45%;
        left: -75px;
        width: 70px;
        height: 70px;
        background-color: #000;
        border-radius: 50%;
        border: none;
        outline: inherit;
        z-index: 12;
        font-size: 30px;
        color: $yellow;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            background-color: $yellow;
            color: #000;
            transition: 0.5s;
        }
        &:active {
            color: #fff;
        }
    }
    .btn--right {
        position: absolute;
        top: 45%;
        right: -75px;
        width: 70px;
        height: 70px;
        background-color: #000;
        border-radius: 50%;
        border: none;
        outline: inherit;
        z-index: 12;
        font-size: 30px;
        color: $yellow;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            background-color: $yellow;
            color: #000;
            transition: 0.5s;
        }
        &:active {
            color: #fff;
        }
    }
}

.wait {
    width: 500px;
    background-color: inherit;
    color: #fff;
    font-size: 40px;
    animation: demonstration 1s;
}

.footer {
    width: 100%;
    height: 100px;
}